<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
  <section role="main" class="section">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ url_for('index')}}">OWstats</a></li>
        {% if user %}
        <li class="is-active"><a href="#" aria-current="page">{{ user.username }}</a></li>
        {% endif %}
        {% if form %}
        <li class="is-active"><a href="#" aria-current="page"> Add user </a></li>
        {% endif %}
      </ul>
    </nav>
      
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="columns">
        <div class="column is-hidden-touch"></div>
        <div class="column is-three-fifths-desktop">
          {% for category, message in messages %}
          <article class="message is-{{ category }}">
            <div class="message-body">
              {{ message }}
            </div>
          </article>
          {% endfor %}
        </div>
        <div class="column is-hidden-touch"></div>
      </div>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      
  </section>

  {% include 'footer.html' %}

</body>

</html>