{% extends "layout.html" %}
{% block content %}
<div class="columns">
  <div class="column is-hidden-touch"></div>
  <div class="column is-one-fifth">
    {% include 'profile_header.html' %}
  </div>


  <div class="column is-three-fifths-desktop">

    <div id="dropdown" class="dropdown" _="on mouseenter toggle .is-active on me until mouseleave">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" >
          <span>Seasons</span>
          <span class="icon is-small">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% for s in seasons %}
            <a href="{{ url_for('stats', username=user.username, season=s) }}" class="dropdown-item {{ 'is-active' if s==season }}">
              Season {{s}}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>

    <div class="tabs">
      <ul>
        <li class="is-active">
          <a href="{{ url_for('stats', username=user.username, season=season) }}">
            <span class="icon is-small"><i class="fa fa-table" aria-hidden="true"></i></span>
            <span>Stats</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('chart', username=user.username, season=season) }}">
            <span class="icon is-small"><i class="fa fa-line-chart " aria-hidden="true"></i></span>
            <span>Chart</span>
          </a>
        </li>
      </ul>
    </div>

    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th><abbr title="Games played">Games</abbr></th>
                <th class="is-hidden-touch"><abbr title="Won">Wins</abbr></th>
                <!-- <th><abbr title="Win percentage">WP</abbr></th> -->
                <th class="is-hidden-touch"><abbr title="Rating average">Average</abbr></th>
                <th><abbr title="Rating tank">Tank</abbr></th>
                <th><abbr title="Rating damage">DPS</abbr></th>
                <th><abbr title="Rating support">Support</abbr></th>
                <th><abbr title="Date logged">Date</abbr></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><abbr title="Games played">Games</abbr></th>
                <th class="is-hidden-touch"><abbr title="Won">Wins</abbr></th>
                <!-- <th><abbr title="Win percentage">WP</abbr></th> -->
                <th class="is-hidden-touch"><abbr title="Rating average" >Average</abbr></th>
                <th><abbr title="Rating tank">Tank</abbr></th>
                <th><abbr title="Rating damage">DPS</abbr></th>
                <th><abbr title="Rating support">Support</abbr></th>
                <th><abbr title="Date logged">Date</abbr></th>
            </tr>
        </tfoot>
        <tbody>
            {% for stats in user.comp_stats %}
            {% if stats.season == season %}
            <tr>
                <td>{{ stats.games_played }}</td>
                <td class="is-hidden-touch">{{ stats.games_won }}</td>

                <td class="is-hidden-touch">{{ stats.rating_avg }}</td>
                <td>{{ stats.rating_tank or '' }}</td>
                <td>{{ stats.rating_damage or '' }}</td>
                <td>{{ stats.rating_support or '' }}</td>
                <td title="{{ stats.ctime.strftime('%H:%M:%S') }}">{{ stats.ctime.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="column is-hidden-touch"></div>
</div>
{% endblock content %}